body {
    background-color: rgb(53, 53, 53);
    color: white;
    display: grid;
    place-content: center;
    height:90vh;
}
.produtos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}